<div class="sorteados">
    <div class="content">
        <h2 class="text-center mb-3">Sorteados da semana</h2>
        <div class="row">
            <div class="col-12 sorteio" *ngFor="let item of sorteiosDaSemanaCopy">
                <div class="row">
                    <div class="col-6 data">
                        <p>{{ item.data | date:'EEEE' | titlecase }}</p>
                        <p>
                            <small>
                                {{ item.data | date:'dd/MM' }}
                            </small>
                        </p>
                    </div>
                    <div class="col participante">
                        <img src="{{ item.facilitador.avatar }}" [alt]="item.facilitador.nome">
                        <p>
                            <small>{{ item.facilitador.nome }}</small>
                        </p>
                    </div>
                    <div class="col participante">
                        <img src="{{ item.secretario.avatar }}" [alt]="item.secretario.nome">
                        <p>
                            <small>{{ item.secretario.nome }}</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-3">
                <button class="btn btn-success btn-sm" (click)="fecharEvent.emit()">Fechar</button>
            </div>
        </div>
    </div>
</div>
