<div class="resultado">
    <div class="content">
        <h2 class="text-center mb-3">Sorteados para a diária do dia {{ data | date:"dd/MM/yyyy" }}</h2>
        <div class="row">
            <div class="col-6 text-center">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <button class="btn btn-info mb-3" (click)="alterar('f')">Alterar</button>
                    </div>
                </div>
                <img src="{{ facilitador.avatar }}" [alt]="facilitador.nome"
                    [title]="facilitador.nome" class="participante">
                <p>Facilitador(a): {{ facilitador.nome }}</p>
            </div>
            <div class="col-6 text-center">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <button class="btn btn-info mb-3" (click)="alterar('s')">Alterar</button>
                    </div>
                </div>
                <img src="{{ secretario.avatar }}" [alt]="secretario.nome"
                    [title]="secretario.nome" class="participante">
                <p>Secretário(a): {{ secretario.nome }}</p>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <button class="btn btn-success btn-sm" (click)="salvar()">Salvar</button>
            </div>
        </div>
    </div>
</div>
