<div class="back">
    <img src="assets/images/background.jpg" alt="">
</div>

<h1 class="pt-3 pb-3">{{ titulo }}</h1>

<form [formGroup]="form" *ngIf="participantes else carregando">
    <div class="container">
        <div class="row pb-5">
            <div class="col d-flex justify-content-center">
                <div class="w-50 d-inline-block" *ngIf="mostraBotao">
                    <label for="data-sorteio">Data da diária:</label>
                    <input class="form-control" #dataSorteioDateInput autocomplete="off"
                        #dataSorteioDatePicker="bsDatepicker" bsDatepicker id="data" name="data" placement="bottom"
                        placeholder="dd/mm/aaaa" formControlName="data">
                    <ul class="errorlist" *ngIf="controls.data.hasError('required')">
                        <li>Este campo é obrigatório</li>
                    </ul>
                </div>
                <div class="d-inline-block ml-3">
                    <label class="d-block">&nbsp;</label>
                    <button class="btn btn-success" (click)="sortear()">Sortear</button>
                </div>
            </div>
        </div>
        <fieldset class="mb-2">
            <legend>Facilitador</legend>

            <div class="row">
                <div class="col d-flex flex-wrap justify-content-center">
                    <img src="{{ participante.avatar }}" [alt]="participante.nome"
                        [title]="participante.nome" *ngFor="let participante of participantes" class="participante"
                        id="f-{{ participante.id }}" [class.inelegivel]="participante.inelegivelFacilitador"
                        [class.selecionado]="facilitador?.id === participante.id"
                        (click)="selecionaFacilitador(participante)">
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Secretário</legend>

            <div class="row">
                <div class="col d-flex flex-wrap justify-content-center">
                    <img src="{{ participante.avatar }}" [alt]="participante.nome"
                        [title]="participante.nome" *ngFor="let participante of participantes" class="participante"
                        id="s-{{ participante.id }}" [class.inelegivel]="participante.inelegivelSecretario"
                        [class.selecionado]="secretario?.id === participante.id"
                        (click)="selecionaSecretario(participante)">
                </div>
            </div>
        </fieldset>
    </div>
</form>

<ng-template #carregando>
    <div class="carregando text-center">
        <i class='las la-spinner la-pulse'></i>
        <p>Carregando super participantes!</p>
    </div>
</ng-template>

<app-resultado *ngIf="facilitador && secretario" [facilitador]="facilitador" [secretario]="secretario"
    [data]="controls.data.value" (alterarParticipante)="alterarParticipante($event)"
    (sorteioSalvo)="sorteioSalvo($event)"></app-resultado>

<app-sorteados-da-semana *ngIf="mostraSorteados" (fecharEvent)="mostraSorteados = false" [participantes]="participantes"
    [sorteiosDaSemana]="sorteiosDaSemana"></app-sorteados-da-semana>

<app-ranking *ngIf="mostraRanking" (fecharEvent)="mostraRanking = false"></app-ranking>


<div class="botoes-de-acao">
    <div class="sorteados-da-semana" *ngIf="sorteiosDaSemana.length" (click)="mostraSorteados = true">
        <img src="/assets/images/calendar.svg" alt="Calendário">
    </div>

    <div class="sorteados-da-semana" (click)="mostraRanking = true">
        <img src="/assets/images/champion.svg" alt="Calendário">
    </div>
</div>
