<div class="back">
    <img src="https://img.freepik.com/premium-vector/full-color-gradient-abstract-background-orange-backgrounds-vector-illustration_542898-61.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1702425600&semt=ais"
        alt="">
</div>

<h1 class="pt-3 pb-3">{{ titulo }}</h1>

@if (participantes) {
<form [formGroup]="form">
    <div class="container">
        <div class="row pb-5">
            <div class="col d-flex justify-content-center">
                @if (mostraBotao) {
                <div class="w-50 d-inline-block">
                    <label for="data-sorteio">Data da diária:</label>
                    <input class="form-control" #dataSorteioDateInput autocomplete="off"
                        #dataSorteioDatePicker="bsDatepicker" bsDatepicker id="data" name="data" placement="bottom"
                        placeholder="dd/mm/aaaa" formControlName="data">
                    @if (controls.data.hasError('required')) {
                    <ul class="errorlist">
                        <li>Este campo é obrigatório</li>
                    </ul>
                    }
                </div>
                }
                <div class="d-inline-block ml-3">
                    <label class="d-block">&nbsp;</label>
                    <button class="btn btn-danger" (click)="sortear()">Sortear</button>
                </div>
            </div>
        </div>
        <fieldset class="mb-5">
            <legend>Facilitador</legend>
            <div class="row">
                <div class="col d-flex flex-wrap justify-content-center">
                    @for (participante of participantes; track participante) {
                    <img src="{{ participante.avatar }}" [alt]="participante.nome" [title]="participante.nome"
                        class="participante" id="f-{{ participante.id }}"
                        [class.inelegivel]="participante.inelegivelFacilitador"
                        [class.selecionado]="facilitador?.id === participante.id"
                        (click)="selecionaFacilitador(participante)">
                    }
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Secretário</legend>
            <div class="row">
                <div class="col d-flex flex-wrap justify-content-center">
                    @for (participante of participantes; track participante) {
                    <img src="{{ participante.avatar }}" [alt]="participante.nome" [title]="participante.nome"
                        class="participante" id="s-{{ participante.id }}"
                        [class.inelegivel]="participante.inelegivelSecretario"
                        [class.selecionado]="secretario?.id === participante.id"
                        (click)="selecionaSecretario(participante)">
                    }
                </div>
            </div>
        </fieldset>
    </div>
</form>
} @else {
<div class="carregando text-center">
    <i class='las la-spinner la-pulse'></i>
    <p>Carregando super participantes!</p>
</div>
}

<ng-template #carregando>
    <div class="carregando text-center">
        <i class='las la-spinner la-pulse'></i>
        <p>Carregando super participantes!</p>
    </div>
</ng-template>

@if (facilitador && secretario) {
<app-resultado [facilitador]="facilitador" [secretario]="secretario" [data]="controls.data.value"
    (alterarParticipante)="alterarParticipante($event)" (sorteioSalvo)="sorteioSalvo($event)"></app-resultado>
}

@if (mostraSorteados) {
<app-sorteados-da-semana (fecharEvent)="mostraSorteados = false" [participantes]="participantes"
    [sorteiosDaSemana]="sorteiosDaSemana"></app-sorteados-da-semana>
}

@if (mostraRanking) {
<app-ranking (fecharEvent)="mostraRanking = false"></app-ranking>
}


<div class="botoes-de-acao">
    @if (sorteiosDaSemana.length) {
    <div class="sorteados-da-semana" (click)="mostraSorteados = true">
        <img src="/assets/images/calendar.svg" alt="Calendário">
    </div>
    }

    <div class="sorteados-da-semana" (click)="mostraRanking = true">
        <img src="/assets/images/champion.svg" alt="Calendário">
    </div>
</div>
